body {
    background: linear-gradient(gray, #7696b8, gray, #7696b8,gray, #7696b8) ;
}
.email {
    background: green;
    padding: 2%;
}
.slack {
    background: yellow;
    padding: 2%;
}
.FaceTime {
    background: red;
    padding: 2%;
}